.a4-page {
  width: 210mm;
min-height: 297mm;
margin: 16px auto;
background: #fff;
border: 1px solid #ccc;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.a4-content {
    padding: 20mm 15mm;
    box-sizing: border-box;
}

@media print {
    .a4-page {
        margin: 0;
        border: none;
        box-shadow: none;
        break-after: page;
    }
}
